/*===============================
 #.contact-area
=================================*/
.contact-area {
    background: linear-gradient(40deg, var(--hover-color), var(--color2));
}

.contact-form {
    .form-control {
        width: 100%;
        height: 4.4rem;
        border-radius: 1rem;
        padding: 1rem 1.6rem;
        font-size: 1.6rem;
        color: var(--black);

        &.message-box {
            height: 10rem;
            resize: none;
        }
    }
}